{% extends 'base.html' %}
{% block content %}
    <main class="container mt-3">
        <div class="card my-4 mx-auto">
            <div class="card-body m-2 m-md-4">
                <article class="row">
                    <div class="col-5"><img src="{{ teacher_dict.picture }}" class="img-fluid"
                                            alt=""></div>
                    <div class="col-7">

                        <section class="teacher=info">

                            <h1 class="h2">{{ teacher_dict.name }}</h1>
                            <p>
                                {% for goal in goals %}
                                    <span class="badge badge-secondary mr-2">{{ goal[2:] }}</span>
                                {% endfor %}
                                Рейтинг: {{ teacher_dict.rating }}
                                {% if teacher_dict.rating > 4 %}
                                  &#128540
                                {% else %}
                                  &#128578
                                {% endif %}
                                Ставка: {{ teacher_dict.price }} / час</p>
                            <p>{{ teacher_dict.about }}</p>

                        </section>

                        <section class="available">
                            <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
                            {% for day, free_times in free.items() %}
                                <h6 class="mt-4">{{ days_name[day] }}</h6>
                                {% if True not in free_times.values() %}
                                    <p>Нет свободных уроков</p>
                                {% endif %}
                                {% for key, value in free_times.items() %}
                                    {% if value == True %}
                                      <a href="/booking/{{ teacher_dict.t_id }}/{{ day }}/{{ key }}/" class="btn btn-outline-success  m-2">{{ key }} свободно</a>
                                    {% endif%}
                                {% endfor %}
                            {% endfor %}
                        </section>
                    </div>
                </article>
            </div>
        </div>
    </main>
{% endblock %}
